{% extends 'base.html.twig' %}

{% block title %}NJ |
  {% if editMode %}
    Modifier l'article {{ article.title }}
    {% else %}
  Créer un article
  {% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/css/bootstrap-select.min.css" integrity="sha256-EzqugSJ2RMPyXVT3pNIGnZtdwdSVc3n9rIP1MSHxXIQ=" crossorigin="anonymous" />
{% endblock %}



{% block body %}

  {{ form_start(formArticle) }}
    <fieldset class="uk-fieldset">

      <legend class="uk-legend">
        {% if editMode %}
          Modifier l'article {{ article.title }}
          {% else %}
        Créer un article
        {% endif %}
      </legend>

      <div class="uk-margin uk-width-1-4">
        {{ form_row(formArticle.title, {'label': 'Titre', 'attr': {'placeholder' : "Titre de l'article", 'class' : "uk-input"}})}}
      </div>

      <div class="uk-margin selectpicker">
        {{ form_row(formArticle.category, {
        'label': 'Catégorie ',
        'attr': {
            'placeholder' : "Categorie de l'article",
            'class' : "selectpicker dropup",
            'multiple': '',
            'title' : 'Faites votre choix de catégorie(s)',
            'data-style' : 'btn-dark',
            'data-width' : '35%',
            'data-dropup-auto' : "false"
          }})}}
      </div>


      <div class="">
        {{ form_row(formArticle.content, {'label': 'Contenu', 'attr': {'placeholder' : "Contenu de l'article", 'class' : "uk-textarea"}})}}
      </div>

      <div class="uk-margin uk-width-1-4">
        {{ form_row(formArticle.image, {'label': 'Image', 'attr': {'placeholder' : "Image de l'article", 'class' : "uk-input"}})}}
      </div>

      <button class="uk-button uk-button-default uk-margin-bottom">
        {% if editMode %}
          Enregistrer
          {% else %}
          Ajouter
          {% endif %}
      </button>

    </fieldset>

  {{ form_end(formArticle) }}

{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js" integrity="sha256-1nLUd8qmbKFJ49vzU7vub7VOQxjb1zy9FDsgtjfak7M=" crossorigin="anonymous"></script>

    <script>
        $('.selectpicker').selectpicker();
    </script>
{% endblock %}
