{% extends 'base.html.twig' %}

{% block title %}NJ | Article {{ article.title }}{% endblock %}

{% block body %}

<section class="article uk-margin-bottom">
  <article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ article.title }}</a></h1>
      <!-- ici on n'a pas besoin de for car on récupère avec l'id de la fonction show les données de l'article que l'on souhaite afficher -->

    <p class="uk-article-meta">Ecrit par <a href="#">Super User</a>le {{ article.createdAt | date('d/m/Y') }} <a href="#">Catégorie</a></p>

    <img src="/{{ article.image }}" alt="">

    <p class="uk-text-lead">{{ article.content | raw }}</p>

    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
            <a class="uk-button uk-button-default" href="#">Autre</a>
        </div>
        <div>
            <a class="uk-button uk-button-default" href="#">5 Comments</a>
        </div>
    </div>

</article>
</section>
{% endblock %}
