{% extends 'base.html.twig' %}

{% block title %}NJ | Article {{ article.title }}{% endblock %}

{% block body %}

<section class="article uk-margin-bottom">
  <article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ article.title }}</a></h1>
      <!-- ici on n'a pas besoin de for car on récupère avec l'id de la fonction show les données de l'article que l'on souhaite afficher -->

    <p class="uk-article-meta">Ecrit par <a href="#">Super User</a> le {{ article.createdAt | date('d/m/Y') }} <a href="#"></a></p>

    {% for category in article.category %}
      <div class="uk-label uk-label-black uk-padding-small uk-margin-bottom">
        <a class="uk-link-text" href="#"> {{ category.title }} </a>
      </div>
    {% endfor %}
    <br/>

    <div class="uk-label uk-label-warning uk-padding-small uk-margin-bottom">
      <a class="uk-link-text" href="#comment"> {{ article.comments|length }} commentaire(s)</a>
    </div>

    <br/>

    <img src="/{{ article.image }}" alt="">

    <p>{{ article.content | raw }}</p>

    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
            <a class="uk-button uk-button-default" href="#">Autre</a>
        </div>
    </div>

</article>
</section>
  <hr class="uk-divider-icon">
<section class="comments" id="comment">
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-responsive uk-table-hover uk-table-justify uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-shrink"></th>
                <th class="uk-table-expand">Auteur</th>
                <th class="uk-width-small">Posté le</th>
                <th class="uk-table-expand">Commentaire</th>
            </tr>
        </thead>
        {% for comment in article.comments %}
        <tbody>
            <tr>
                <td><input class="uk-checkbox" type="checkbox"></td>
                <td class="uk-text">{{ comment.author }}</td>
                <td class="uk-text-truncate">{{ comment.createdAt | date('d/m/Y') }}</td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="">{{ comment.content | raw }}</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
  </div>
  </section>
    <hr class="uk-divider-icon">
  <section class="comment uk-margin">

  {{ form_start(commentForm) }}
    <fieldset class="uk-fieldset">

      <legend class="uk-legend"> Ajoutez votre commentaire </legend>

      <div class="uk-margin uk-width-1-4">
        {{ form_row(commentForm.author,  {'label': 'Auteur', 'attr': {'placeholder': "Votre nom", 'class' : "uk-input"}})}}
      </div>
      <div class="uk-margin uk-width-1-2">
        {{ form_row(commentForm.content,  {'label': 'Commentaire', 'attr': {'placeholder': "Votre avis", 'class' : "uk-textarea"}})}}
      </div>

      <button class="uk-button uk-button-default uk-margin-bottom">Envoyer</button>

    </fieldset>
  {{ form_end(commentForm) }}

</section>
{% endblock %}
