<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- UIkit CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />

        <!--own stylesheet -->
          <link href="{{asset('css/base.css')}}" rel="stylesheet" type="text/css">


        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <!-- navbar -->
      <section class="barnav uk-margin-bottom" id="top">
          <div class="uk-position-relative">
            <img data-src="img/snelweg.jpg" alt="" width="100%" uk-img>
            <div class="uk-position-top" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="dropbar: true;">
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active "><a class="uk-text-warning uk-text-bold" href="{{ path ('home')}}">Home</a></li>
                            <li><a href="{{ path ('blog')}}">Articles</a></li>
                            <li>
                                <a href="">Administration</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="boundary-align uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{{ path ('create')}}">Gérer un article</a></li>
                                        <li class="uk-nav-divider"></li>
                                        {%  if not app.user %}
                                        <li><a href="{{ path('security_login') }}">Connexion</a></li>
                                        {% else %}
                                        <li><a href="{{ path('security_logout') }}">Déconnexion</a></li>
                                        {% endif %}
                                        <!-- <li><a href="#">Item</a></li> -->
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
          </div>
        </section>

        <div class="uk-container uk-container-large">
          {% block body %}{% endblock %}
        </div>
        <a href="#top" uk-totop uk-scroll class="uk-align-right uk-margin-right"></a>

        {% block javascripts %}{% endblock %}
        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
    </body>
</html>
